tskit>=0.5.8
tsinfer>=0.3.0
flake8
numpy
tqdm
daiquiri
msprime>=1.3.2
scipy>=1.13.0
numba>=0.58.1
appdirs
pre-commit
pytest
pytest-xdist
pytest-cov
mpmath
numdifftools
setuptools>=45
matplotlib
twine
build
