# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6-stretch 

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4


    steps:
      - checkout
      - run:
          name: Install dependencies and set PATH
          command: |
              # Need gsl-dev for msprime. Alternatively we could install via conda
              sudo apt-get install libcap-dev libnuma-dev libgsl-dev
              # way to set path persistently https://circleci.com/docs/2.0/env-vars/#setting-path
              echo 'export PATH=/home/circleci/.local/bin:$PATH' >> $BASH_ENV
      - run:
          name: Compile Python
          command: |
              python setup.py build_ext --inplace      
      - run:
          name: Install tsinfer dev version - currently required for "use_times" param
          command: |
              python3 -m pip install git+https://github.com/tskit-dev/tsinfer.git --user
      - run:
          name: install dependencies
          command: |
              pip install -r requirements.txt --user
      - run:
          name: Lint Python
          command: |
              flake8 --max-line-length 89 tsdate setup.py tests
      - run:
          name: Copy approximate_prior cache file
          command: |
              cp data/prior_1000df.bak data/prior_1000df.txt
      - run:
          name: Run Python tests
          command: |
              nosetests --with-coverage
              python3 -m codecov 
