name: Build Docs

on:
  pull_request:
  push:
    branches: [main]
    tags:
      - '*'

env:
  COMMIT_EMAIL: ben.jeffery.well+adminbot@gmail.com
  OWNER: tskit-dev
  REPO: tsdate
  REQUIREMENTS: docs/requirements.txt

jobs:
  build-deploy-docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.10"
          cache: 'pip'

      - name: Create venv and install deps
        run: |
          pip install --upgrade pip wheel
          pip install -r ${{env.REQUIREMENTS}} --no-binary tsinfer        

      - name: Build Docs
        run: |
          make -C docs

      - name: Trigger docs site rebuild
        if: github.ref == 'refs/heads/main'
        run: |
          curl -X POST https://api.github.com/repos/tskit-dev/tskit-site/dispatches \
                    -H 'Accept: application/vnd.github.everest-preview+json' \
                    -u AdminBot-tskit:${{ secrets.ADMINBOT_TOKEN }} \
                    --data '{"event_type":"build-docs"}'